<div class="leftSide">
    <h1>facebook</h1>
    <h2>Recent Logins</h2>
    <h4>Click your picture or add an account.</h4>
</div>

<div class="flex-container">
    <div class="mCard1">
        <mat-card>
            <a href=""><img mat-card-image src="../assets/img/userbox.svg"></a>
            <mat-card-title style="text-align: center;">Conan</mat-card-title>
        </mat-card>
        &nbsp; &nbsp; 
        <mat-card>
        <a href=""><img mat-card-image src="../assets/img/userbox.svg"></a>
            <mat-card-title style="text-align: center;">New User</mat-card-title>
        </mat-card>
    </div>
        <div class="overallUser">
            <div class="loginContainer">
                    <form style="width: auto;" class="logForms">
                        <input type="email" placeholder="Enter Email" > &nbsp;
                        <input type="password" placeholder="Enter Password" >
                    </form>
                    <button style="width: 24rem; margin: 1rem;" mat-raised-button color="primary">LOG IN</button> <br>
                    <a style="margin: 9rem; color: black;" href="#">Forgot Password?</a> <br> <br> <br>
                    <hr style=" width: 23rem; color: gray;">
                    <button style="background-color: rgb(60, 209, 60); width: 24rem; margin: 1rem;" mat-raised-button> <strong>Create New Account</strong> </button>
            </div>
            <br>
                <div style="padding-left: 18rem;">
                     <strong><a style="color: black;" href="#">Create a Page </a></strong> for a celebrity, band or business.
                </div>
        </div>
</div>
    